
.modal {
    width: 550px;
    background: white;
    border: 2px solid #ccc;
    transition: 1.1s ease-out;
    box-shadow: 
      -2rem 2rem 2rem rgba(black, 0.2);
    filter: blur(0);
    transform: scale(1);  
    opacity: 1;
    visibility: visible;
      offset-rotate: 0deg;
      offset-path: path("M 250,100 S -300,500 -700,-200");
      margin-left: auto;
  margin-right: auto;
}
.content {
    padding: 1rem;
}
.actions {
    border-top: 1px solid #ccc;
    background: #eee;
    padding: 0.5rem 1rem;
}